.card {
  font-size: 5rem;
  display: flex;
  align-content: center;
  align-items: center;
  --background: rgb(255, 255, 255);
  --color: #000000;
  height: 200px;
}

ion-content {
  --ion-background-color: #9aacd5;
}

ion-card {
  --background: rgb(255, 255, 255);
  --color: #000000;
  height: 120px;
  display: flex;
  align-content: center;
  align-items: center;
}

ion-card-title {
  --color: #000000;
}

ion-col {
  font-size: 5rem;
  display: flex;
  align-content: center;
  align-items: center;
}
